<nav id="nav">
  <ul id="menu">
    <li><a href="/Mock/Index">The Index Page</a></li>
    <li><a href="/Mock/GetUser">GetUser</a></li>
    <li><a href="/Mock/SimpleForm">A simple Form!</a></li>
    <li><a href="/Mock/ShowAjaxForm">An AJAX Form using POST</a></li>
    <li><a href="/Mock/GetSurname">Get Surname</a></li>
    <li><a href="/Mock/Count">Use ASP.NET Sessions to count</a></li>	
    <li><a href="/Mock/Login">Login</a></li>
    <li><a href="/Mock/Logout">Logout</a></li>
    <li><a href="/Mock/Download">Download</a></li>
	<li><a href="/Blog">Blog</a></li>
	</ul>
</nav>