<h1>A simple form posting example!</h1>
<form action="$baseURL/Mock/SimpleForm/" method="post">
	First name: <input type="text" name="firstname"><br>
	Last name: <input type="text" name="lastname">
	<input type="submit" value="Submit">
</form>
$( 
	[string]$firstname = $request.Form['firstname']
	[string]$lastname = $request.Form['lastname']

	if(($firstname.Length -ne 0) -and ($lastname.Length -ne 0)) { 
		"<p>Hi, $firstname $lastname!</p>" 
	}
	else {
		"<p>Hi there, I don't know your name. Please enter your first and last name into the form above.</p>" 
	}
)		
