body {
	font-family:Courier New, Courier, monospace;
	background-color:whitesmoke;
}

#page {
	height: auto;
    width: 960px;
	background-color:whitesmoke;
}

#menu {
	list-style-type: none;
}

#menu li {
	border: 40px;
	padding: 10px;
}

a {
	text-decoration: none;
}
a:hover{
	background-color:greenyellow;
}
	
#nav{
	float:left;
	width:300px;
	padding-top: 60px;
}

#content {
	float:right;
    width: 660px;
	text-indent:20px;
}

#footer {
	display: table-cell;
	text-align:center;
	width:960px;
}
