<nav id="nav">
  <ul id="menu">
    <li><a href="/Module/Index">The Index Page</a></li>
    <li><a href="/Module/GetUser">GetUser</a></li>
    <li><a href="/Module/SimpleForm">A simple Form!</a></li>
    <li><a href="/Module/ShowAjaxForm">An AJAX Form using POST</a></li>
    <li><a href="/Module/GetSurname">Get Surname</a></li>
    <li><a href="/Module/Count">Use ASP.NET Sessions to count</a></li>	
    <li><a href="/Module/Login">Login</a></li>
    <li><a href="/Module/Logout">Logout</a></li>
    <li><a href="/Module/Download">Download</a></li>
	<li><a href="/Blog">Blog</a></li>
	</ul>
</nav>